*,*::before,*::after
{overflow-x:none ;
 box-sizing: border-box;  
}
:root{
    --ff-pri:'Source Sans Pro',sans-serif;
    --ff-sec:'Source Sans Pro',sans-serif;
    --fw-reg:400;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#16e0bd;

    --fs-h1: 3rem;
    --fs-h2:2.24rem;
    --fs-h3:2rem;
    --fs-body:1rem;
}
@media (min-width:800px){
    :root{
        --fs-h1: 4.5rem;
    --fs-h2:3.54rem;
    --fs-h3:1.5rem;
    --fs-body:1.2rem;


}}

body{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-pri);
    font-size: var(--fs-body);
    line-height: 1.6;
}
img{ width:250px; height: 350px;
    display: block;
    max-width: 100%;
}
section{
padding: 5em 3em;
}

/* Typography*/
h1,h2,h3{line-height:1.1;
    margin:0;

}
h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}   
.section__title{margin-left: auto;
margin-bottom: .25em;
font-weight: var(--fw-reg);
}
.section__subtitle{
    margin: 0 0 20px;
    font-size: var(--fs-h3);
    background-color: var(--clr-accent);
    font-family:var(--ff-sec)
}
.section__title strong{
    display:block;
    font-weight: 900;
}
/* Intro section */
.intro{
    position: relative;
}
nav{display: block;}
.nav__list{
    color: var(--clr-accent);
}
nav{
    width: 2em;
    height:3em;
    border-radius:5px;
    display: block;
    position: relative;

}



@media(min-width:600px){
    .intro{
        display:grid;
        width:min-content;
      
        grid-column-gap: 1em;
        grid-template-areas: "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
   #intro .section__title{
        padding: 1em;position: relative;
    }
    #intro img{ 
        grid-area:img;
         min-width: 350px;min-height: 500px;
         position: relative;
         z-index: 2;margin-top: -12em;
    }
   #intro .section__subtitle{grid-area: "subtitle";
       align-self: start;
       grid-column: -1/1;
       grid-row: 2;
       text-align: right;
       position: relative;
       left: -1.6em;width:calc(100%+1.5em);
       text-transform: capitalize;letter-spacing: 3px;
   }
}
.my-services{
    background: linear-gradient(rgba(27, 29, 43, 0.8), rgba(17, 59, 52, 0.945)), url("https://bit.ly/2rlzaXi"); /* The least supported option. */  /* background-color: var(--clr-accent); */
/* background-image: url(/img/imgme1.jpg); */
background-size: cover;text-align:center;
color: var(--clr-light);margin:2em 0;
}
.work .section__title{
    color: var(--clr-accent);
    font-weight: 900;
    font-size: var(--fs-h1);
    text-align: center;
    margin:0em 0em 1em 0em ;

}
.work{
    margin:.3em 0 3em ;
}
.service h3{
    margin-bottom:1em;
}
button{
    display: inline-block;
    padding:.5em 1.6em;
    background-color: var(--clr-accent);
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 200ms ease-in-out;


}
button a{
    font-weight: bold;
    text-decoration: none;
    
}
button:hover{color: white;
    transform: scale(1.1); outline: none;

}
button a:active{
    color: white;
}
.about__me{
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width:600px){
    .about__me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img"
        "subtitle img"
        "text img";
        column-gap: 4em;
        
    }
    .about__me .section__title
     {font-weight:var(--fw-bold);font-size: var(--fs-h1);
         grid-area:title;text-align: center;margin: 0 auto;
     }
     .about__me .section__subtitle{grid-area: subtitle;
        grid-column: 1/-1;
        grid-row: 2;
      
        border-left-style: -2em;
        width: calc(100%+2em);
        padding-left: 2em;
        padding-right:calc(200px+6em);

    }
    .about__me img{grid-area:img;
       min-width:250px;padding-right:2em ;
    }
}
.my-works{
background-color: var(--clr-dark);
color: #fff;margin-bottom: 0;
text-align: center;}
.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}
.my-works .section__title{
    text-align: center;
    padding-bottom:2em;
    
    color: var(--clr-accent);
}

.portfolio__item{
background-color: var(--clr-accent);overflow:hidden;

}
.portfolio__item img{min-width:100%;
    transition: transform 750ms cubic-bezier(.5,0,.5,1), opacity 250ms linear;
}
.portfolio img:hover,.portfolio__item:focus .portfolio__item img{background-color: var(--clr-accent);
    transform:scale(1.2);
    opacity: .5;

}
footer{margin-top: 6em;
    background-color: var(--clr-dark);
}
footer ul li{
    list-style-type: none;
    color: #fff;
    display: inline; padding:.2em;
    margin: 3em 2em 1em 0em;

}
footer a{ margin-top:2em;font-size: var(--fs-body);
    color:#fff; text-decoration: none;
}
footer a:hover{
    color: var(--clr-accent);
}
footer .section__title{
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-bottom:2.4em ;
}